{
    "assumptions": {
        "setPublicClassFields": true,
        "noClassCalls": true,
        "setClassMethods": true
    },
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes"
    ]
}
